*{
    font-family: 'lato', sans-serif;
   
}
h1{
    color: #000000;
}
#PIX {
    padding: 19px;
    justify-content: center;
    display: flex;
    
}

.bg-primary-color {
    background-color: rgb(0, 116, 6);
}

.bg-secondary-color {
    background-color: #000000;
}

.br-dark-color {
    background-color: #050505;
}

.backgroundcolor {
    background-color: rgb(255, 255, 255);
}

.backgroundcolor2 {
    background-color: rgb(10, 10, 10);
}

.primary-color {
    color: rgb(0, 87, 4);
}

.secondary-color {
    color: #7a7a7a;
}

/* NAVBAR */
#navbar a:hover {
    color: #7a7a7a;
}

#navbar a.active {
    border-bottom: 3px solid #444444;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 120px;
    
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
  
}
.navbar-toggler {
    color: rgb(0, 87, 4);
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2.5em;
    
}
#navbar-link {
    margin-left: 20em;
    margin-right: 50em;
}

#slider {
    margin-top: 8em;
    margin-bottom: 1em;

}

#slider .carousel-caption {
    bottom: 3em;
}

#slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
}

.btn {
    border-radius: 0;
}

#slider .btn {
    padding:  0.3 0.8em;
    font-size:  1em;
    margin-top: 1em;
}

.carousel-control-prev,
.carousel-control-next {
    color: #111;
    font-size: 3em;
}

.carousel-indicators [data-bs-target] {
    background-color: #222;
  
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel {
    height: 100%;
}

@media(min-width: 768px){
    #slider .carousel-caption {
        bottom: 15em;
    }
    #slider .carousel-caption h5 {
        font-size: 4em;
        text-shadow: #000 2px 3px;
    }
    #slider .btn {
        padding:  0.6 1.6em;
        font-size:  1.2em;
    }
    .carousel-indicators {
        bottom: 7em;
    }
}
